@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div#root {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}


input[type="range"]::-webkit-slider-runnable-track {
    background: #33333394;
    height: 6px;
    border-radius: 8px;
}

input[type="range"]::-moz-range-track {
    background: #33333394;
    height: 6px;
    border-radius: 8px;
}


input[type="range"]::-webkit-slider-thumb {
    margin-top: -5px;
    width: 9rem;
    height: 90px;
    height: 9rem;
    accent-color: red;
}

input[type="range"]::-moz-range-thumb {
    margin-top: -5px;
    width: 90px;
    height: 90px;
    accent-color: red;


}

input[type="checkbox"] {
    accent-color: #319795;
}

progress {
    background: #eee;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%) inset;
    border-radius: 10px;
}

progress::-webkit-meter-value {
    background: yellow;
}



progress::-webkit-progress-value {
    background: green;
}

progress::-moz-progress-bar {
    background: #fff;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%) inset;
    border-radius: 10px;
}

.poor::-webkit-meter-optimum-value {
    background-color: red;
}


.fair::-webkit-meter-optimum-value {
    background-color: orange;
}

.strong::-webkit-meter-optimum-value {
    background-color: green;
}

.good::-webkit-meter-optimum-value {
    background-color: blue;
}


.poor {
    text-transform: capitalize;
    color: red;
    font-weight: bold;
}

.fair {
    text-transform: capitalize;
    font-weight: bold;
    color: orange;
}

.strong {
    text-transform: capitalize;
    color: green;
    font-weight: bold;
}

.good {
    text-transform: capitalize;
    color: blue;
    font-weight: bold;
}